<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="fr">

<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Adresse et heures d'ouverture du Cabinet d'Ostéopathie Froidmont" />
    <!--[if lte IE 8]>
    <script src="js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="css/main.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/ie9.css"/><![endif]-->
    <link rel="canonical" href="{{ .Site.BaseURL }}" />
</head>

<body>

    <!-- Header -->
    <div id="header">

        <div class="top">

            <!-- Logo -->
            <div id="logo">
                <span class="image avatar48"><img src="img/spine.png" alt="" /></span>
                <h1 id="title">{{ .Site.Params.name }}</h1>
                <p>{{ .Site.Params.description }}</p>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span
                                class="icon fa-home">Accueil</span></a></li>
                    <li><a href="#osteopathie" id="osteopathie-link" class="skel-layers-ignoreHref"><span
                                class="icon fa-user">Ostéopathie</span></a></li>
                    <li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span
                                class="icon fa-envelope">Contact</span></a></li>
                </ul>
            </nav>

        </div>

        <div class="bottom">

            <!-- Social Icons -->
            <ul class="icons">
                {{ range .Site.Params.social }}
                <li><a href="{{ .link }}" class="icon fa-{{ .icon }}"><span class="label">{{ .medium }}</span></a></li>
                {{ end }}
            </ul>

        </div>

    </div>

    <!-- Main -->
    <div id="main">

        <section id="top" class="one dark cover">
        </section>

        <section id="portfolio" class="two">
            <div class="container">

                <header>
                    <h1>{{ .Site.Params.mainH1 }}</h1>
                </header>

                <p>Diplômée d'un master en ostéopathie délivré par l'Université Libre de Bruxelles (master
                    complémentaire en 6 années)</p>
                <ul>
                    <li><strong>Horaire:</strong> prise de RDV au <a href="tel:+32460979039">0460 97 90 39</a> du lundi
                        au samedi</li>
                    <li><strong>Type de consultation:</strong> Ostéopathie générale, sportive et pédiatrique </li>
                    <li><strong>Tarif:</strong> la consultation est de 65€. Votre mutualité rembourse une
                        partie de la
                        séance dans le cadre de votre assurance complémentaire</li>
                    <li><strong>Langues:</strong> français et anglais</li>
                </ul>

                <div class="row">
                    <div class="4u 12u$(mobile)">
                        {{ range .Site.Params.portfolio1 }}
                        <article class="item">
                            <a href="{{ .url }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
                            <header>
                                <h3>{{ .title }}</h3>
                            </header>
                        </article>
                        {{ end }}
                    </div>

                    <div class="4u 12u$(mobile)">
                        {{ range .Site.Params.portfolio2 }}
                        <article class="item">
                            <a href="{{ .url }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
                            <header>
                                <h3>{{ .title }}</h3>
                            </header>
                        </article>
                        {{ end }}
                    </div>

                    <div class="4u 12u$(mobile)">
                        {{ range .Site.Params.portfolio3 }}
                        <article class="item">
                            <a href="{{ .url }}" class="image fit"><img src="{{ .source }}" alt="{{ .alt }}" /></a>
                            <header>
                                <h3>{{ .title }}</h3>
                            </header>
                        </article>
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>

        <section id="osteopathie" class="three">
            <div class="container">

                <header>
                    <h1>Ostéopathie</h1>
                </header>

                <p>L’ostéopathie est une approche diagnostique et thérapeutique manuelle des dysfonctions de mobilité
                    articulaire et tissulaire en général, dans le cadre de leur participation à l’apparition et au
                    maintien des maladies.</p>
                <p>L’ostéopathie est une méthode de soins qui s’emploie à déterminer et à traiter les restrictions de
                    mobilité qui peuvent affecter l’ensemble des structures composant le corps humain. Le travail de
                    l’ostéopathe est donc plus global, son but est d’harmoniser le corps dans son ensemble.</p>
                <p>De plus, l’ostéopathie est fondée sur la capacité du corps à s’auto-équilibrer et sur une
                    connaissance approfondie de l’anatomie.</p>

            </div>
        </section>

        <section id="contact" class="four">
            <div class="container">

                <header>
                    <h1>Contact</h1>
                </header>

                <ul>
                    <li><strong>Adresse:</strong> Rue des Corettes 63, 6880 Bertrix
                    </li>
                    <li><strong>Numéro de téléphone:</strong> <a href="tel:+32460979039">0460 97 90 39</a> (du lundi au
                        samedi)</li>
                    <li><strong>Mail:</strong> <a href="mailto:osteopathie@froidmont.org">osteopathie@froidmont.org</a>
                    </li>
                </ul>

            </div>
        </section>

    </div>

    <!-- Footer -->
    <div id="footer">

        <!-- Copyright -->
        <ul class="copyright">
            <li>&copy; {{ .Site.Params.copyright }}</li>
            <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            <li>Powered by <a href="https://gohugo.io/">Hugo</a></li>
        </ul>

    </div>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/jquery.scrollzer.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/util.js"></script>
    <!--[if lte IE 8]>
<script src="js/ie/respond.min.js"></script><![endif]-->
    <script src="js/main.js"></script>

</body>

</html>
